@page "/adminallocatepoints"
@using HabitApp.Models
@model HabitApp.Pages.AdminAllocatePointsModel
@{
}

<div id="messageView">You are not an admin please <a href="/adminlogin">login as admin</a></div>
<div class="container" id="pageview">
    <h2 style="align-content: center">My Habits</h2>
    <table class="table table-primary table-striped table-borderless" style="margin-top: 3rem; border-radius:0.5rem">
        <thead>
            <tr>
                <th scope="col">Habit Status</th>
                <th scope="col">ID</th>
                <th scope="col">Habit</th>
                <th scope="col">Description</th>
                <th scope="col">Allocate Points</th>
                <th style="text-align:center; align-items:center" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.HabitDataModels)
            {


            <tr>
                @if (item.habitStatus)
                {
                    <td id="hstatus">Complete</td>
                }
                else
                {
                    <td id="hstatus">Incomplete</td>
                }
                <td id="hidValue">@item.habitId.ToString().Substring(item.habitId.ToString().Length - 4)</td>
                <td id="hid" hidden>@item.habitId</td>
                <td id="htitle">@item.habitTitle</td>
                <td id="hdescription">
                    @if (item.habitDescription.Split(" ").Length > 4)
                    {

                        @*Split the description string and only get the first 4 words*@
                        List<String> list = item.habitDescription.Split(" ").Take(4).ToList();
                        string desc = list[0] + " " + list[1] + " " + list[2] + " " + list[3];


                        @desc
                    }
                    else
                    {
                        @item.habitDescription
                    }...
                </td>
                <td id="haudio" hidden>@item.habitAudio</td>
                <td id="himage" hidden>@item.habitImage</td>

                <td id="hpoints">
                    <form method="post">
                        <input hidden type="text" value="@item.habitId" asp-for="AllocatePointDataModel.habitId" />
                        @if (item.habitPoints > 0)
                        {
                            <input type="number"
                                   id="addpoints"
                                   style="width:65px"
                                   value="@item.habitPoints"
                                   asp-for="AllocatePointDataModel.habitPoints" />

                        }
                        else
                        {
                            <input type="number"
                                   id="addpoints"
                                   style="width:65px"
                                   value="0"
                                   asp-for="AllocatePointDataModel.habitPoints" />
                        }

                        <button type="submit"
                                class="btn btn-success"
                                onclick="addpoint()"
                                style="margin-left: 10px">
                            Save
                        </button>
                    </form>
                </td>

                <td id="hvideo" hidden>@item.habitVideoUrl</td>
                <td style="text-align:center">
                    <button type="button" class="btn btn-primary" onclick="viewpage('viewsinglehabit', '@item.habitImage', '@item.habitId.ToString()', '@item.habitTitle', '@item.habitDescription', '@item.habitAudio', '@item.habitPoints', '@item.habitStatus', '@item.habitVideoUrl','adminallocatepoints')">View</button>

                </td>
            </tr>
            }
        </tbody>
    </table>

    <script>        var role = window.localStorage.getItem("role")
        console.log(role)

        if (role != "Admin") {
            document.getElementById("messageView").hidden = false
            document.getElementById("pageview").hidden = true
        } else {
            document.getElementById("messageView").hidden = true
            document.getElementById("pageview").hidden = false

        }</script>

    <script>



        function viewpage(pagename, image, id, title, desc, audio, points, status, videoUrl, redirect) {
            var idtext = id
            var titleText = title
            var descriptiontext = desc
            var audiotext = audio
            var imagetext = image
            var statustext = status
            var pointtext = points
            var videourltext = videoUrl


            window.localStorage.setItem("imagetext", imagetext)
            window.localStorage.setItem("audio", audiotext)



            window.location.replace("/" + pagename + "?hid=" + idtext + "&htitle=" + titleText + "&hdescription=" + descriptiontext + "&hstatus=" + statustext + "&hpoints=" + pointtext + "&hvideo=" + videourltext + "&hredirect=" + redirect);


        }

        function addpoint() {
            var points = document.getElementById("hpoints").value
        }
    </script>
</div>

